footer {
    @include body-text;
    position:sticky;
    bottom: 0;
    font-size: 1.1rem;
    text-align: center;

    &__link {

        :active,
        :visited {
            color: $primary-purple;
        }

    }


}