footer {
    @include flex(row, center, center);
    @include body-text;
    width: 100%;
    bottom: 0;
    font-size: 1.1rem;
    text-align: center;
    padding: 1.6rem auto;
}

@media screen and (min-width:65em) {
    footer {
        width: 100%;
        font-size: 1.4rem;
        padding: 3.2rem auto;
    }
}