// .icon

.btn-calculate {
    border: none;
    background-color: transparent;

    // gap: 8px;
    .icon {
        position: absolute;
        left: calc(50% - 3.2rem);
        bottom: -3.2rem;
        transform: rotate(-90deg);
        padding: 2rem;
        // 
        width: 6.4rem;
        height: 6.4rem;


        background: $primary-purple;
        border-radius: 21.6rem;
        z-index: 1;
        // -webkit-animation: slide-center 1.5s normal;
        // -webkit-animation-delay: 1s;
        // animation: slide-center 1.5s normal;


    }


}

