.card {
    background-color: $neutral-white;
    @include flex(column, flex-start, center);
    @include body-text;
    height: 48.6rem;
    width: 34.3rem;
    border-radius: 2.4rem 2.4rem 10rem 2.4rem;
    margin-bottom: auto;
    padding: 4.8rem 2.4rem;


    &__results {
        &--section {
            width: 100%;
            margin-top: 4.8rem;
            @include flex(column, flex-start, flex-start);
        }

        &--wrapper {
            @include flex(row, flex-start, flex-start);
        }

        &--display {
            @include heading-primary-mobile;

            & span {
                color: $primary-purple;
            }
        }
    }
}

