.form {
    position: relative;
    width: 100%;
    border-bottom: 1px solid $neutral-light-grey;

    &__wrapper {
        width: 100%;

        &--content {
            margin-bottom: 3.6rem;
            @include flex(row, space-between, flex-start);
            height: 9.2rem;

            &.content-error * {
                color: $primary-light-red
            }
        }

        &--input {
            @include flex(column, flex-start, flex-start);
            text-align: left;
            width: 8.76rem;

            &.input-error {

                label,
                span {
                    color: $primary-light-red;
                }

                input {
                    border: 1px solid $primary-light-red;
                }
            }

            span {
                display: none;
                max-width: 7.7rem;
                @include body-text;
                color: $primary-light-red;
                font-size: .75rem;
                line-height: 0;
            }

            span.display-error {
                display: contents;
            }
        }
    }

    &__label {
        @include heading-tertiary-mobile;
        width: 100%;
        color: $neutral-smokey-grey;
        margin: .4rem;
    }

    input {
        @include input-text;
        height: 5.4rem;
        width: 8.7rem;
        border-radius: 8px;
        color: $neutral-off-black !important;
        border: 1px solid $neutral-light-grey;
        padding: 1.2rem 1.6rem 1.2rem 1.6rem;

        &:active,
        &:focus {
            border: 1px solid $primary-purple;
        }
    }
}

@media screen and (min-width:48em) {
    .form__wrapper--content--input.input-error span {
        font-size: 1.4rem;
    }
}


@media screen and (min-width:65em) {
    .form {
        height: 15.1rem;

        &__wrapper {
            &--content {
                @include flex(row, flex-start, flex-start);
                height: 10.1rem;
            }

            &--input {
                text-align: left;
                width: 16rem;
                height: 7.2rem;
                margin-right: 3.2rem;
            }
        }

        &__label {
            @include heading-tertiary;
            margin-bottom: .8rem;
        }

        input {
            width: 16rem;
            height: 7.2rem;
            margin-right: 3.2rem;
        }
    }
}