.form {
    position: relative;
    width: 100%;

    border-bottom: 1px solid $neutral-light-grey;

    &__wrapper {
        width: 100%;

        &--content {
            margin-bottom: 3.6rem;
            @include flex(row, space-between, flex-start);
            height: 9.2rem;

            &.content-error * {
                color: $primary-light-red
            }
        }

        &--input {
            @include flex(column, flex-start, flex-start);
            text-align: left;
            width: 8.76rem;

            &.input-error {

                label,
                span {
                    color: $primary-light-red;
                }

                input {
                    border: 1px solid $primary-light-red;
                }

            }

            span {
                display: none;
                max-width: 7.7rem;
                @include body-text;
                color: $primary-light-red;
                font-size: .75rem;
                line-height: 1.6rem;
            }

            span.display-error {

                display: contents;


            }


        }


    }



    &__label {
        @include heading-tertiary-mobile;
        width: 100%;
        color: $neutral-smokey-grey;
        margin: .4rem;
    }


    input {
        @include input-text;
        height: 5.4rem;
        width: 8.7rem;
        border-radius: 8px;
        border: 1px solid $neutral-light-grey;
        color: $neutral-off-black;
        padding: 1.2rem 1.6rem 1.2rem 1.6rem;

        &:active {
            color: $neutral-off-black;
        }

        &:active {
            border: $primary-purple;
        }
    }


}