@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/card';
@import 'components/form';

@import 'layout/header';
@import 'layout/footer';



body {
    width: 100vw;
    background-color: $neutral-light-grey;   
}

.container{
    min-height: 100vh;
    @include flex(column,space-evenly, center);
    padding: 8.8rem 1.6rem auto 1.6rem;

}